extends base.pug

block content
    form(method="POST")
        if errorMessage
            span=errorMessage
        input(placeholder="Username", name="username", type="text", required)
        input(placeholder="Password", name="password", type="password", required)
        input(type="submit", value="Login")
        include partials/social-login
    div.auth-switch
        span Don't have an account? &nbsp;
        a(href="/join") Create one now &rarr;

