/*!**********************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/client/scss/styles.scss ***!
  \**********************************************************************************************************************/
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

header {
  padding: 20px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .header__logo {
  color: #fd0101;
  font-size: 38px;
}
header ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header ul li {
  margin-left: 30px;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
}
header ul i {
  font-size: 16px;
}
header .header__btn {
  background-color: white;
  color: #181818;
  padding: 5px 10px;
  border-radius: 10px;
}

footer {
  text-align: center;
  font-size: 14px;
  opacity: 0.8;
  margin-top: 50px;
}

.video-mixin .video-mixin__thumb {
  height: 140px;
  border-radius: 10px;
  width: 100%;
  background-color: ivory;
}
.video-mixin .video-mixin__data {
  padding: 0px 15px;
}
.video-mixin .video-mixin__data .video-mixin__title {
  font-size: 16px;
  display: block;
  margin-top: 10px;
}
.video-mixin .video-mixin__data .video-mixin__meta {
  margin-top: 5px;
  font-size: 12px;
}

.empty__message {
  margin-bottom: 50px;
  text-align: center;
  font-size: 18px;
}

.video-grid {
  display: grid;
  gap: 50px;
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

form {
  max-width: 420px;
  margin: 0 auto;
  padding: 30px;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 15px;
  border: 1px solid rgba(255, 255, 255, 0.2);
}

input {
  all: unset;
  padding: 10px 20px;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background-color: black;
  margin-bottom: 5px;
  font-size: 16px;
  color: white;
  width: 90%;
}
input::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

input[type=submit] {
  padding: 12px 20px;
  background-color: rgba(255, 0, 0, 0.8);
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
  display: block;
  font-size: 16px;
}

.social__btn {
  background-color: white;
  padding: 12px 20px;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
  display: block;
  font-size: 16px;
}

.social-login {
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  padding-top: 50px;
  margin-top: 50px;
}
.social-login .social__btn--github {
  background-color: transparent;
  color: azure;
}

.search__form {
  margin-bottom: 60px;
  display: flex;
  position: relative;
  align-items: center;
}
.search__form input {
  all: unset;
  padding: 10px 20px;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background-color: black;
  margin-bottom: 5px;
  font-size: 16px;
  color: white;
  width: 90%;
}
.search__form button {
  all: unset;
}
.search__form button {
  position: absolute;
  right: 15px;
  background-color: rgba(0, 0, 0, 0.3);
  text-align: center;
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  background-color: #181818;
  color: #ffffff;
}

main {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  margin-top: 50px;
}
